.content-table input[type=text]{
  padding:3px 6px;
  font-weight: 500;
}

.content-table tr td {
  margin: 2px;
  padding: 9px 4px;
  text-align: center;
}

.content-table .td-enhance{
  font-size: 1.2em;
  font-weight: 600;
}

.content-table > tbody tr:nth-child(odd) {
  color:#0077b3;
}